{% extends 'base.html.twig' %}
{% block title %}Топ 10 кинопоиска{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="welcome">
            <h1>Топ-10 фильмов по версии kinopoisk.ru<span>на {{ top.date|date('d.m.Y') }}</span></h1>
        </div>
        <div id="form">
            <form action="{{ path('homepage') }}" method="get">
                <input type="text" name="date" value="{{ top.date|date('d.m.Y') }}" />
                <input type="submit" value="Получить" />
            </form>
        </div>
        <div id="items">
            {% for item in top.getNumberOfItems(10) %}
                <dl class="clearfix">
                    <dt>Позиция:</dt><dd>{{ item.position }}</dd>
                    <dt>Название:</dt><dd>{{ item.name }}</dd>
                    <dt>Оригинальное название:</dt><dd>{{ item.originalName }}</dd>
                    <dt>Год:</dt><dd>{{ item.year }}</dd>
                    <dt>Рейтинг:</dt><dd>{{ item.rating }}</dd>
                    <dt>Кол-во голосов:</dt><dd>{{ item.voters }}</dd>
                </dl>
            {% endfor %}
            <p>Cached: {{ "now"|date('d.m.Y H:i:s') }}</p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #welcome { padding: 2em 2em 1em; background-color: rgba(255,255,200, .3);}
    #form { padding: 1em 2em; background-color: rgba(200,255,200, .3);}
    #welcome h1 span { display: block; font-size: 75%; }
    #items { padding: 2em 2em 1em;}
    #items dl {
        background-color: #ddddff;
        margin: 1em 0;
    }
    #items dl dt {float:left; width: 30%;margin: 0;}
    #items dl dd {float:right; width: 70%;margin: 0;}

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
    }
</style>
{% endblock %}
